@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  max-width: 90rem;
  grid-template-rows: minmax(1fr, 2fr, 1fr);
  background-color: #F7F7F9;
}

header {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 9999;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  header {
    height: 80px;
  }
}

footer {
  width: 100%;
  height: 100%;
  background-color: hsl(0deg, 0%, 90%);
  padding: 18% 5%;
}
@media (min-width: 768px) {
  footer {
    height: 320px;
    display: flex;
    padding: 11% 5% 0;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  footer {
    padding: 10% 0 10% 7%;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 8% 0 10% 10%;
  }
}
@media (min-width: 1400px) {
  footer {
    padding: 8% 0 10% 13%;
  }
}

.productSection__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 0 10%;
}
.productSection__filters__bar {
  font-size: 30px;
  color: hsl(0deg, 0%, 55%);
}
.productSection__filters__item {
  width: 130px;
  margin: 10px 0;
}
.productSection__filters__item__title {
  font-size: 15px;
}
.productSection__filters__item__description {
  font-size: 13px;
}
.productSection__products {
  display: block;
}
@media (min-width: 576px) {
  .productSection__products {
    display: flex;
  }
}
.productSection__products__item {
  margin: 20px 100px;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
}
@media (min-width: 576px) {
  .productSection__products__item {
    margin: 0 20px;
  }
}
.productSection__products__item__image {
  background-color: hsl(0deg, 0%, 90%);
  border-radius: 10px 10px 0 0;
}
.productSection__products__item__icon {
  width: 45px;
  height: 45px;
  background-color: hsl(206deg, 4%, 97%);
  display: flex;
  align-items: center;
  border-radius: 50%;
  position: relative;
  top: -20px;
  right: -30%;
}
@media (min-width: 576px) {
  .productSection__products__item__icon {
    width: 100px;
    height: 100px;
  }
}
.productSection__products__item__icon img {
  width: 20px;
}
@media (min-width: 576px) {
  .productSection__products__item__icon img {
    width: 60px;
  }
}
.productSection__products__item__information {
  font-weight: bold;
  position: relative;
  top: -20px;
  right: -10px;
}
.productSection__products__item__information__price {
  font-size: 17px;
}
.productSection__products__item__information__price span {
  font-size: 14px;
  font-weight: lighter;
}
.productSection__products__item__information__name {
  font-size: 14px;
}

@media (min-width: 768px) {
  .newProduct {
    display: flex;
    padding: 0 0 5%;
  }
}
.newProduct__image {
  background-color: hsl(354deg, 78%, 60%);
  margin: 0 0 0 30%;
  padding: 10% 0;
  width: 30;
  display: flex;
}
@media (min-width: 768px) {
  .newProduct__image {
    position: relative;
    right: -30%;
    padding: 5% 0 3%;
  }
}
@media (min-width: 992px) {
  .newProduct__image {
    right: -30%;
  }
}
@media (min-width: 768px) {
  .newProduct__information {
    position: relative;
    left: -56%;
  }
}
@media (min-width: 992px) {
  .newProduct__information {
    left: -45%;
  }
}
@media (min-width: 1200px) {
  .newProduct__information {
    left: -43%;
  }
}
@media (min-width: 1400px) {
  .newProduct__information {
    left: -42%;
  }
}
.newProduct__information__text {
  margin: 10% 5%;
}
.newProduct__information__text__title {
  color: hsl(0deg, 0%, 15%);
  font-size: 33px;
  font-weight: 700;
}
.newProduct__information__text__title span {
  font-weight: 500;
  display: block;
}
@media (min-width: 768px) {
  .newProduct__information__text__title span {
    margin-right: -40%;
  }
}
.newProduct__information__text__description {
  color: hsl(0deg, 0%, 35%);
  font-size: 15px;
  margin: 5% 5% 5% 0;
}
.newProduct__information__text__price {
  color: hsl(354deg, 78%, 60%);
}
.newProduct__information__buttons {
  margin: 10% 15% 10% 5%;
}
@media (min-width: 768px) {
  .newProduct__information__buttons {
    margin: 0 5%;
  }
}
.newProduct__information__buttons__discover {
  background-color: hsl(0deg, 0%, 55%);
  border: none;
  padding: 1rem 2rem;
  font-size: 12px;
}
.newProduct__information__buttons__add {
  background-color: hsl(0deg, 0%, 17%);
  color: #fff;
  border: none;
  padding: 1.2rem 2.2rem;
  margin-left: -1%;
  font-size: 14px;
}
@media (min-width: 768px) {
  .newProduct__information__buttons__add {
    margin-left: -2%;
  }
}

.navBar {
  display: none;
}
@media (min-width: 992px) {
  .navBar {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .navBar__left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .navBar__left__list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navBar__left__list__item {
    margin: 0 20px;
  }
  .navBar__left__list__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .navBar__left__list__item a:hover {
    color: hsl(354deg, 78%, 60%);
  }
  .navBar__left__list__item a img {
    margin: 0 5px;
  }
  .navBar__left__list__item a p {
    margin: 0 5px;
  }
  .navBar__right {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .navBar__right__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .navBar__right__list__item {
    margin: 0 20px;
  }
  .navBar__right__list__item a {
    text-decoration: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
.menu__left {
  display: flex;
  flex-grow: 3;
}
.menu__left__list {
  display: flex;
  list-style: none;
  margin: 0 0 0 30px;
}
.menu__left__list__item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu__left__list__item a img {
  width: 40px;
  margin: 0 5px;
}
.menu__left__list__item a p {
  margin: 5px;
}
.menu__right {
  display: flex;
  flex-grow: 1;
}
.menu__right__list {
  display: flex;
  list-style: none;
}
.menu__right__list__item {
  margin: 0 10px;
}
.menu__right__list__item a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .ourInformation {
    display: inline;
    margin-right: 20%;
  }
}
.ourInformation__title {
  color: hsl(0deg, 0%, 15%);
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .ourInformation__title {
    padding-bottom: 10%;
  }
}
@media (min-width: 768px) {
  .ourInformation__title p {
    margin-right: -60%;
  }
}
.ourInformation__items {
  color: hsl(0deg, 0%, 35%);
  margin-bottom: 10%;
}

@media (min-width: 768px) {
  .aboutUs {
    margin-right: 20%;
  }
}
.aboutUs__title {
  color: hsl(0deg, 0%, 15%);
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .aboutUs__title {
    padding-bottom: 10%;
  }
}
@media (min-width: 768px) {
  .aboutUs__title p {
    margin-right: -60%;
  }
}
.aboutUs__items {
  color: hsl(0deg, 0%, 35%);
  margin-bottom: 10%;
}
.aboutUs__items p {
  padding-bottom: 5%;
}
@media (min-width: 768px) {
  .aboutUs__items p {
    margin-right: -100%;
  }
}

@media (min-width: 768px) {
  .product {
    margin-right: 15%;
  }
}
.product__title {
  color: hsl(0deg, 0%, 15%);
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .product__title {
    padding-bottom: 10%;
  }
}
.product__items {
  color: hsl(0deg, 0%, 35%);
  margin-bottom: 10%;
}
.product__items p {
  padding-bottom: 3%;
}

.social__title {
  color: hsl(0deg, 0%, 15%);
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .social__title {
    padding-bottom: 5%;
  }
}
.social__items {
  color: hsl(0deg, 0%, 35%);
  margin-bottom: 5%;
}
.social__items__image {
  display: inline;
  margin-right: 2%;
}
@media (min-width: 768px) {
  .social__items__image {
    margin-right: 8%;
  }
}
.social__items__image a {
  text-decoration: none;
}
.social__items__image a img {
  width: 5%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .social__items__image a img {
    width: 18%;
  }
}
@media (min-width: 992px) {
  .social__items__image a img {
    width: 8%;
  }
}
@media (min-width: 1200px) {
  .social__items__image a img {
    width: 5%;
  }
}
@media (min-width: 1400px) {
  .social__items__image a img {
    width: 5%;
  }
}

/*# sourceMappingURL=index.css.map */
