/* Error: Undefined mixin.
 *    ,
 * 3  | /   @include breakpoints(lg) {
 * 4  | |     display: flex;
 * 5  | |     width: 100%;
 * 6  | |     align-items: center;
 * 7  | |     &__left {
 * 8  | |       display: flex;
 * 9  | |       align-items: center;
 * 10 | |       flex-grow: 1;
 * 11 | |       &__list {
 * 12 | |         display: flex;
 * 13 | |         list-style: none;
 * 14 | |         align-items: center;
 * 15 | |         width: 100%;
 * 16 | |         justify-content: left;
 * 17 | |         margin-left: 20%;
 * 18 | |         &__item {
 * 19 | |           margin: 0 20px;
 * 20 | |           a {
 * 21 | |             display: flex;
 * 22 | |             align-items: center;
 * 23 | |             text-decoration: none;
 * 24 | |             &:hover {
 * 25 | |               color: $firstColor;
 * 26 | |             }
 * 27 | | 
 * 28 | |             img {
 * 29 | |               margin: 0 5px;
 * 30 | |             }
 * 31 | |             p {
 * 32 | |               margin: 0 5px;
 * 33 | |             }
 * 34 | |           }
 * 35 | |         }
 * 36 | |       }
 * 37 | |     }
 * 38 | |     &__right {
 * 39 | |       display: flex;
 * 40 | |       align-items: center;
 * 41 | |       flex-grow: 1;
 * 42 | |       &__list {
 * 43 | |         display: flex;
 * 44 | |         align-items: center;
 * 45 | |         list-style: none;
 * 46 | |         width: 100%;
 * 47 | |         justify-content: right;
 * 48 | |         margin-right: 26%;
 * 49 | |         &__item {
 * 50 | |           margin: 0 20px;
 * 51 | |           a {
 * 52 | |             text-decoration: none;
 * 53 | |           }
 * 54 | |         }
 * 55 | |       }
 * 56 | |     }
 * 57 | \   }
 *    '
 *   scss\navBar.scss 3:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 3  \2502  \250c    @include breakpoints(lg) {\a 4  \2502  \2502      display: flex;\a 5  \2502  \2502      width: 100%;\a 6  \2502  \2502      align-items: center;\a 7  \2502  \2502      &__left {\a 8  \2502  \2502        display: flex;\a 9  \2502  \2502        align-items: center;\a 10 \2502  \2502        flex-grow: 1;\a 11 \2502  \2502        &__list {\a 12 \2502  \2502          display: flex;\a 13 \2502  \2502          list-style: none;\a 14 \2502  \2502          align-items: center;\a 15 \2502  \2502          width: 100%;\a 16 \2502  \2502          justify-content: left;\a 17 \2502  \2502          margin-left: 20%;\a 18 \2502  \2502          &__item {\a 19 \2502  \2502            margin: 0 20px;\a 20 \2502  \2502            a {\a 21 \2502  \2502              display: flex;\a 22 \2502  \2502              align-items: center;\a 23 \2502  \2502              text-decoration: none;\a 24 \2502  \2502              &:hover {\a 25 \2502  \2502                color: $firstColor;\a 26 \2502  \2502              }\a 27 \2502  \2502  \a 28 \2502  \2502              img {\a 29 \2502  \2502                margin: 0 5px;\a 30 \2502  \2502              }\a 31 \2502  \2502              p {\a 32 \2502  \2502                margin: 0 5px;\a 33 \2502  \2502              }\a 34 \2502  \2502            }\a 35 \2502  \2502          }\a 36 \2502  \2502        }\a 37 \2502  \2502      }\a 38 \2502  \2502      &__right {\a 39 \2502  \2502        display: flex;\a 40 \2502  \2502        align-items: center;\a 41 \2502  \2502        flex-grow: 1;\a 42 \2502  \2502        &__list {\a 43 \2502  \2502          display: flex;\a 44 \2502  \2502          align-items: center;\a 45 \2502  \2502          list-style: none;\a 46 \2502  \2502          width: 100%;\a 47 \2502  \2502          justify-content: right;\a 48 \2502  \2502          margin-right: 26%;\a 49 \2502  \2502          &__item {\a 50 \2502  \2502            margin: 0 20px;\a 51 \2502  \2502            a {\a 52 \2502  \2502              text-decoration: none;\a 53 \2502  \2502            }\a 54 \2502  \2502          }\a 55 \2502  \2502        }\a 56 \2502  \2502      }\a 57 \2502  \2514    }\a    \2575 \a   scss\\navBar.scss 3:3  root stylesheet";
}
