.aboutUs {
  @include breakpoints(md) {
    margin-right: 20%;
  }
  &__title {
    color: $titleColor;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: 600;
    @include breakpoints(md) {
      padding-bottom: 10%;
    }
    p{
        @include breakpoints(md) {
           margin-right: -60%;
           }
    }
  }
  &__items {
    color: $textColor;
    margin-bottom: 10%;
    p {
      padding-bottom: 5%;
      @include breakpoints(md) {
        margin-right: -100%;
        }
    }
  }
}
