.menu {
  display: flex;
  @include breakpoints(lg) {
    display: none;
  }
  &__left {
    &__list {
      display: flex;
      list-style: none;
      &__item {
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
  &__right {
    display: inline-block;
    &__list {
      display: flex;
      list-style: none;
      &__item {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
