.navBar {
  display: none;
  @include breakpoints(lg) {
    display: flex;
    width: 100%;
    align-items: center;
    &__left {
      display: flex;
      align-items: center;
      flex-grow: 1;
      &__list {
        display: flex;
        list-style: none;
        align-items: center;
        width: 100%;
        justify-content: left;
        margin-left: 20%;
        &__item {
          margin: 0 20px;
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            &:hover {
              color: $firstColor;
            }

            img {
              margin: 0 5px;
            }
            p {
              margin: 0 5px;
            }
          }
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      flex-grow: 1;
      &__list {
        display: flex;
        align-items: center;
        list-style: none;
        width: 100%;
        justify-content: right;
        margin-right: 26%;
        &__item {
          margin: 0 20px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
