.newProduct {
  @include breakpoints(md) {
    display: flex;
    padding: 0 0 5%;
  }
  &__image {
    background-color: $firstColor;
    margin: 0 0 0 30%;
    padding: 10% 0;
    width: 30;
    display: flex;
    @include breakpoints(md) {
      position: relative;
      right: -30%;
      padding: 5% 0 3%;
    }
    @include breakpoints(lg) {
      right: -30%;
    }
  }
  &__information {
    @include breakpoints(md) {
      position: relative;
      left: -56%;
    }
    @include breakpoints(lg) {
      left: -45%;
    }
    @include breakpoints(xl) {
      left: -43%;
    }
    @include breakpoints(xxl) {
      left: -42%;
    }
    &__text {
      margin: 10% 5%;
      &__title {
        color: $titleColor;
        font-size: 33px;
        font-weight: 700;
        span {
          font-weight: 500;
          display: block;
          @include breakpoints(md) {
            margin-right: -40%;
          }
        }
      }
      &__description {
        color: $textColor;
        font-size: 15px;
        margin: 5% 5% 5% 0;
      }
      &__price {
        color: $firstColor;
      }
    }
    &__buttons {
      margin: 10% 15% 10% 5%;
      @include breakpoints(md) {
        margin: 0 5%;
      }
      &__discover {
        background-color: $textColorLight;
        border: none;
        padding: 1rem 2rem;
        font-size: 12px;
      }
      &__add {
        background-color: $buttonColor;
        color: $containerColor;
        border: none;
        padding: 1.2rem 2.2rem;
        margin-left: -1%;
        font-size: 14px;
        @include breakpoints(md) {
          margin-left: -2%;
        }
      }
    }
  }
}
