.productSection {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 10%;
    @include breakpoints(md) {
      margin: 0 13%;
    }
    @include breakpoints(lg) {
      margin: 0 15%;
    }
    @include breakpoints(xl) {
      margin: 0 18%;
    }
    @include breakpoints(xxl) {
      margin: 0 20%;
    }
    &__bar {
      font-size: 30px;
      color: $textColorLight;
    }
    &__item {
      width: 130px;
      margin: 10px 0;
      &__title {
        font-size: 15px;
      }
      &__description {
        font-size: 13px;
      }
    }
  }
  &__products {
    display: block;
    @include breakpoints(sm) {
      display: flex;
    }
    @include breakpoints(md) {
      margin: 20px 80px;
    }
    @include breakpoints(lg) {
      margin: 20px 100px;
    }
    @include breakpoints(xl) {
      margin: 20px 120px;
    }
    @include breakpoints(xxl) {
      margin: 20px 140px;
    }
    &__item {
      margin: 20px 100px;
      background-color: $backgroundBodyAltColor;
      border-radius: 0 0 10px 10px;
      @include breakpoints(md) {
        margin: 20px 20px;
      }
      &__image {
        background-color: $backgroundColor;
        border-radius: 10px 10px 0 0;
      }
      &__icon {
        width: 45px;
        height: 45px;
        background-color: $bodyColor;
        display: flex;
        align-items: center;
        border-radius: 50%;
        position: relative;
        top: -20px;
        right: -30%;
        @include breakpoints(md) {
          width: 50px;
          height: 50px;
          top: -8%;
          right: -32%;
        }
        @include breakpoints(lg) {
          width: 55px;
          height: 55px;
          top: -7%;
          right: -35%;
        }
        @include breakpoints(xxl) {
          width: 65px;
          height: 65px;
        }
        img {
          width: 20px;
          @include breakpoints(md) {
            width: 25px;
          }
          @include breakpoints(lg) {
            width: 30px;
          }
          @include breakpoints(xxl) {
            width: 35px;
          }
        }
      }
      &__information {
        font-weight: bold;
        position: relative;
        top: -20px;
        right: -10px;
        &__price {
          font-size: 17px;
          span {
            font-size: 14px;
            font-weight: lighter;
          }
        }
        &__name {
          font-size: 14px;
        }
      }
    }
  }
}

.empty {
  @include breakpoints(md) {
    display: none;
  }
}