@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$fontFamilyPrimary: 'Roboto', sans-serif;;
$firstColor: hsl(354, 78%, 60%);
$buttonColor: hsl(0, 0%, 17%);
$buttonColorAlt: hsl(0, 0%, 21%);
$cardColor: hsl(0, 0%, 90%);
$titleColor: hsl(0, 0%, 15%);
$textColor: hsl(0, 0%, 35%);
$textColorLight: hsl(0, 0%, 55%);
$bodyColor: hsl(206, 4%, 97%);
$containerColor: #fff;
$borderColor: hsl(0, 0%, 94%);
$backgroundColor: hsl(0,0%,90%);


@mixin breakpoints($point) {
  @if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $point == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}
