@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

$colorPrimary: #8e7bef;
$colorSecondary: #5d3bef;
$colorTertiary: #f9f6ff;
$colorQuaternary: #222222;
$colorQuintonary: #423f40;
$colorSextantary: #ffffff;
$colorSeptenary: #f9f5f2;
$fontFamilyPrimary: "Montserrat", sans-serif;

@mixin breakpoints($point) {
  @if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $point == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}
